---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/tjalil
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Ratelimit-Reset:
      - '1442331356'
      Last-Modified:
      - Mon, 14 Sep 2015 18:49:20 GMT
      Etag:
      - W/"abe935e9017cfef15ee5d789a40c9606"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"tjalil","id":3508170,"avatar_url":"https://avatars.githubusercontent.com/u/3508170?v=3","gravatar_id":"","url":"https://api.github.com/users/tjalil","html_url":"https://github.com/tjalil","followers_url":"https://api.github.com/users/tjalil/followers","following_url":"https://api.github.com/users/tjalil/following{/other_user}","gists_url":"https://api.github.com/users/tjalil/gists{/gist_id}","starred_url":"https://api.github.com/users/tjalil/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tjalil/subscriptions","organizations_url":"https://api.github.com/users/tjalil/orgs","repos_url":"https://api.github.com/users/tjalil/repos","events_url":"https://api.github.com/users/tjalil/events{/privacy}","received_events_url":"https://api.github.com/users/tjalil/received_events","type":"User","site_admin":false,"name":"Taha
        Jalil","company":"Filament Creative, Pakathon","blog":null,"location":"Toronto,
        Ontario","email":null,"hireable":true,"bio":null,"public_repos":29,"public_gists":0,"followers":11,"following":14,"created_at":"2013-02-08T04:50:53Z","updated_at":"2015-09-14T18:49:20Z"}'
  recorded_at: Tue, 15 Sep 2015 14:58:41 GMT
recorded_with: VCR 2.9.3
